.watermark {
  position: relative;
  z-index: 999999999;
  display: inline-block;
  opacity: .6;
  &.topLeft {
    position: fixed;
    top: 40px;
    left: 40px;
  }

  &.topRight {
    position: fixed;
    top: 40px;
    right: 40px;
  }

  &.bottomLeft {
    position: fixed;
    bottom: 40px;
    left: 40px;
  }

  &.bottomRight {
    position: fixed;
    bottom: 40px;
    right: 40px;
  }


}