@import "../../variables";

.pj {
  &-mb {
    margin-bottom: 20px;
  }

  &Container {
    margin-top: 30px;

    .TxEditor {
      &-toolbar {
        background-color: #fafafa;
      }
    }
  }

  &Name {
    margin-bottom: 20px;
    transition: opacity ease .25s;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }

  &DateStartBtn {
    margin-right: 15px;
  }

  &DateFinishBtn {
    margin-left: 15px;
  }

  &Info {
    margin-bottom: 10px;
  }


  &Progress {
    width: 100%;

    &Text {
      margin: {
        top: 10px;
        right: 10px;
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.57);
        width: 40px;
        height: 40px;
        border: 3px solid rgba($primary_color, .8);
        border-radius: 50%;
      }
    }
  }

  &MoneyText {
    display: flex;
    align-items: center;
    margin: {
      top: 5px;
      left: 10px;
    }

    span.text {
      color: rgba(0, 0, 0, .6);
      margin-left: 10px;
      font-size: 18px;
    }

    svg {
      color: #fff;
    }
  }

  &Tasks {
    margin-top: 20px;

    &Add {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &Task {
    background-color: #fafafa;

    .tasksSubs {
      .task {
        background-color: #f2f2f2;
      }
    }
  }

  &Notes {
    &Add {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &TextEditor {
    margin-top: 20px;
  }

  &Upload {
    &Btn {
      &Icon {
        margin-right: 5px;
      }
    }
  }
}