@import '../../variables';

.Fls {
  &.dragging {
    background-color: #e1e1e1;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-uploadIcon {
    color: #ababab;
    font-size: 15rem;
  }

  &-drop-heading {
    color: #ababab;
  }
}