.task {
  padding: 8px 10px;
  margin-bottom: 20px;
}

.checkRoot {
  padding: 0;
  margin-right: 10px;
}

.controlsRoot {
  text-align: right;
}

.controls {
  display: flex;
}

.dateText {
  font-size: 12px;
  color: #9f9f9f;
}