.capitalize {
    text-transform: capitalize;
}
.calendar-row {
    width: 100%;
    display: flex;
}

.calendar-ceil {
    width: 100%;
    display: flex;
}

.calendar-card {
    width: 100%;
    height: 100px;
}